body, html{
    padding: 0;
    margin: 0;
    background: rgba(244,244,244,1);
    font-size: 16px;
    color: #1A1A1C;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-avater {
    margin-top: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    border-bottom: 1px solid #EDEDED;
}

.left {
    height: 80px;
    line-height: 80px;
}

.right {
    display: flex;
}

.right-arrow {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto 0;
    margin-left: 15px;
}

.avater {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: block;
    margin: auto 0;
    background: #EDEDED;
}

/* 列表 */
.list {

}

.content {
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDED;
    margin: 0 15px;
}

.list .left {
    height: 50px;
    line-height: 50px;
}

.list .right {
    display: flex;
    align-items: center;
}

.right .title {
    font-size: 14px;
    color: #888;
    text-align: right;
}

.gap {
    height: 8px;
    width: 100%;
    background: #EDEDED;
}

/* 退出登录 */

.logout {
    position: fixed;
    height: 70px;
    width: 100%;
    left: 0;
    right:0;
    bottom: 0;
    padding: 15px 30px;
    box-sizing: border-box;
}

.logout .btn {
    background:	#F00;
    font-size: 15px;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}

/* 提示框 */
.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    opacity: 1;
    z-index: 666;
    display: block;
}

.alert-modal .show {
    display: block;
}

.alert-modal .hide {
    display: none;
}

.alert-modal .box {
    position: fixed;background: white;top: 50%;left: 50%;
    width: 300px;
    height: 110px;
    margin-left: -150px;
    /* 调节该值可以控制弹框纵向位置 */
    margin-top: -55px;
    background: white;
    font-size: 16px;
    color: #00F;
    text-align: center;
    border-radius: 6px;
    z-index: 777;
}

.box .box-top {
    height: 60px;line-height: 60px;
    color: black;
    font-size: 17px;
    border-bottom: 1px solid #EDEDED;
}

.box .box-bottom {
    height: 50px;
    display: flex;
}

.box-bottom .left-btn, .box-bottom .right-btn {
    width: 50%;height: 50px;
    line-height: 50px;
}

.left-btn {
    border-right: 1px solid #EDEDED;
}
