body,html {
    padding: 0;
    margin: 0;
    background: rgba(244,244,244,1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 导航 */
.nav {
    background: white;
    height: 0.64rem;
    position: relative;
}

.nav .navTitle {
    height: 0.64rem;
    line-height: 0.64rem;
    font-size: 0.28rem;
    text-align: center;
}

.nav .leftView {
    position: absolute;
    top: 0;
    left: 0.15rem;
    height: 0.64rem;
    background: yellow;
}

.nav .rightView {
    position: absolute;
    height: 0.64rem;
    top: 0;
    right: 0.15rem;
    bottom: 0;
    background: red;
}

.el-button {
    position: absolute;
    width: 1rem;
    height: 0.4rem;
    top: 0.12rem;
    right: 0.15rem;
    bottom: 0.12rem;
    border-radius: 0.06rem;
    border: 0.01rem solid #EDEDED;
    font-size: 0.2rem;
    padding: 0;
}

/* 列表 */
.myTable {
    border-radius: 0.06rem;
    background: white;
    margin: 0.1rem 0.15rem 0;
}

.myCell {
    padding: 0 0.15rem;
    height: 0.44rem;
    border-bottom: 0.01rem solid #EDEDED;
    font-size: 0.18rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.myCell:hover {
    background: #EDEDED;
}

.myCell .left {
    height: 0.44rem;
    display: flex;
}

.myCell .cellTitle {
    color: #1A1A1C;
    height: 0.44rem;
    line-height: 0.44rem;
}

.myCell .icon {
    width: 0.3rem;
    height: 0.3rem;
    margin: 0.07rem 0.15rem 0.07rem 0;
}

.myCell .rightArrow {
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.02rem 0;
}


/* 提示弹框 */
.alert-bk {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 1000;
}

.alert-bk-show {
    display: block;
}

.alert-bk-hide {
    display: none;
}

.content-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8rem;
    height: 4rem;
    margin-left: -4rem;
    margin-top: -2rem;
    padding: 1.03rem 0.6rem 0.48rem;
    box-sizing: border-box;
    background-color: white;
    opacity: 1;
    border-radius: 0.16rem;
    border: 1px solid rgba(112,112,112,1);
    z-index: 5000;
}

.content-box .title {
    font-size: 0.48rem;
    color: #1A1A1C;
    text-align: center;
}

.content-box .function-btn {
    margin-top: 1.02rem;
    display: flex;
    justify-content: space-between;
}

.function-btn .btn {
    width: 3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    text-align: center;
    color: white;
    border-radius: 0.4rem;
}

.cancel-btn {
    background-color: #9FA4B7;
}

.ok-btn {
    background-color: #1966FF;
}

/* 加载框 */
.hud-bk {
    position: fixed;
    display: none;
    background: black;
    opacity: 0.6;
    width: 2.32rem;
    height: 2.32rem;
    top: 50%;
    left: 50%;
    margin-top: -1.16rem;
    margin-left: -1.16rem;
    border-radius: 0.06rem;
}

.hud-bk-show {
    display: block;
}

.hud-bk img {
    width: 0.72rem;
    height: 0.72rem;
    display: block;
    margin: 0.4rem auto;
}

.hud-bk .text {
    text-align: center;
    margin:0.4rem 0;
    font-size: 0.3rem;
    color: white;
}

/* toast提示 */
.toast-bk {
    position: fixed;
    display: none;
    background: black;
    opacity: 0.6;
    min-width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    top: 50%;
    left: 50%;
    font-size: 0.2rem;
    text-align: center;
    color: white;
    border-radius: 0.06rem;
}